.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;

  .language-selector {
    display: flex;
    align-items: center;

    .flag {
      width: 40px; // Adjust size as needed
      height: auto;
      margin-left: 10px;
      cursor: pointer;
      transition: filter 0.3s;

      &.inactive {
        filter: grayscale(100%); // Grayscale effect for inactive flag
      }
    }
  }
}